name: Create release

on:
  push:
    tags:
      - "v*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 21
          cache: sbt
      # Note to whoever reads this in the future. Please update the sbt version
      # if it is necessary
      - name: Install SBT
        run: |
          curl -L -o sbt.tgz https://github.com/sbt/sbt/releases/download/v1.10.2/sbt-1.10.2.tgz
          tar -xzf sbt.tgz
          sudo mv sbt /usr/local/sbt
          echo "/usr/local/sbt/bin" >> $GITHUB_PATH
      - name: Write Docker tag version
        run: |
          VERSION=${{ github.ref_name }}
          echo "DOCKER_TAG=${VERSION#v}" >> $GITHUB_ENV
      - name: Set up buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/arm64,linux/amd64
      - name: Log in to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build fat JAR
        shell: bash
        run: sbt assembly
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/arm64,linux/amd64
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.DOCKER_TAG }}
      - name: Create release
        uses: ncipollo/release-action@v1.20.0
        with:
          generateReleaseNotes: true